@font-face {
    font-family: myFirstFont;
    src: url(./siddhanta.ttf);
  }

.ProseMirror {
    width: 100%;
    height: 768px;
    text-align: left;
    font-family: 'myFirstFont';
    font-size: 25px;
    border:none; //solid 2px black;
    padding-left: 1px;
    &:focus {
        outline: none;
    }
    // &:focus-within {
    //     outline: none;
    // }
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      min-width: 1em;
      border: 2px solid black;
      border-color: transparent black transparent transparent;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      background-color: #f1f3f5;
    }

    tr {
      border-right-style: double;
    }
    
    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0; right: 0; top: 0; bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }
  }


.box {
    margin:0px -8px 0px -8px;
    padding:1px 7px 2px 7px;
    border:solid 1px #000;
    border-color:transparent transparent black transparent;
    border-radius: 0% 0% 38% 38%;  
    font-family: 'myFirstFont';
    font-size: 25px;  
  }